/* BODY ==============================  */
body {
  text-align: center;
  line-height: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--moksi-blue);
}

.section {
  flex-grow: 1;
}

/* HEADER ==============================  */
header {
  background-color: var(--moksi-blue);
  color: var(--moksi-orange);
  padding: 15px 30px;
  margin-bottom: -40px;
}
/* header h1 {
  font-size: var(--fz-xl);
  font-family: var(--vary-black);
  white-space: nowrap;
  margin-bottom: 30px;
} */
header .title {
  margin-bottom: 30px;
}
header p {
  font-size: var(--fz-rg);
  font-family: var(--vary-light);
  white-space: nowrap;
  margin-bottom: 30px;
}
header p span {
  display: block;
}

@media (min-width: 510px) {
  header {
    margin-bottom: -50px;
  }
}
@media (min-width: 712px) {
  header {
    margin-bottom: -60px;
  }
  /* header h1 {
    margin-bottom: 60px;
  } */
  header .title {
    margin-bottom: 60px;
    width: 600px;
  }
  header p {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  header {
    padding: 15px 45px;
  }
  header .title {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 15px 60px;
    margin-bottom: -80px;
  }
  header .title {
    width: 900px;
  }
}

@media (min-width: 1138px) {
  header {
    margin-bottom: -90px;
  }
  header .title {
    /* max-width: 80%; */
    margin: 0 auto 60px auto;
  }
}

@media (min-width: 1280px) {
  header {
    margin-bottom: -110px;
  }
}

/* VIDEO IS HERE IS CASCADE ============================== */

/* CONTENT ============================== */
.content {
  background-color: var(--moksi-blue);
  color: var(--moksi-orange);
  font-family: var(--vary-black);
  padding: 45px 15px 0 15px;
}
.content h2 {
  font-size: var(--fz-lg);
  white-space: nowrap;
  margin-bottom: 30px;
}
.content h2 span {
  display: block;
}
.content .ast {
  font-family: var(--vary-light);
  font-size: var(--fz-md);
}
.content h4 {
  font-family: var(--vary-light);
  font-size: var(--fz-md);
  font-weight: 100;
  white-space: nowrap;
}
.content h4 span {
  display: block;
}
.content h3 {
  font-size: var(--fz-lg);
}

@media (min-width: 414px) {
  .content {
    padding: 60px 15px 0 15px;
  }
}

@media (min-width: 712px) {
  .content {
    padding: 75px 15px 0 15px;
  }
  .content h2 {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .content {
    padding: 90px 15px 0 15px;
  }
  .content h2 {
    margin-bottom: 75px;
  }
}

@media (min-width: 1024px) {
  .content h2 {
    margin-bottom: 90px;
  }
}

/* DIVIDER ============================== */
.divider {
  padding: 60px 15px 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider hr {
  width: 80%;
  border: 1px solid var(--moksi-blue);
}

@media (min-width: 414px) {
  .divider {
    padding: 75px 15px 45px 15px;
  }
}

@media (min-width: 712px) {
  .divider {
    padding: 105px 15px 60px 15px;
  }
}

@media (min-width: 768px) {
  .divider {
    padding: 120px 15px 75px 15px;
  }
}

/* SLIDER ==============================  */
.embla {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--moksi-blue);
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
  margin: 0 20px;
}
.embla__slide > img {
  max-width: 100%;
}

@media (min-width: 712px) {
  .embla {
    margin-bottom: 60px;
  }
  .embla__slide {
    flex: 0 0 75%;
    min-width: 0;
    height: 100%;
  }
}

@media (min-width: 736px) {
  .embla__slide {
    flex: 0 0 75%;
    min-width: 0;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .embla {
    margin-bottom: 75px;
  }
  .embla__slide {
    flex: 0 0 50%;
    min-width: 0;
    height: 100%;
  }
}

@media (min-width: 840px) {
  .embla__slide {
    flex: 0 0 50%;
    min-width: 0;
    height: 100%;
  }
}

@media (min-width: 980px) {
  .embla__slide {
    flex: 0 0 50%;
    min-width: 0;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .embla {
    margin-bottom: 90px;
  }
  .embla__slide {
    flex: 0 0 50%;
    min-width: 0;
    height: 100%;
  }
}

@media (min-width: 1138px) {
  .embla__slide {
    flex: 0 0 25%;
    min-width: 0;
    height: 100%;
  }
}

/* EXPERIENCE ============================== */
.experience {
  background-color: var(--moksi-blue);
  color: var(--moksi-orange);
  font-family: var(--vary-black);
  padding: 0 15px 45px 15px;
}
.experience h3 {
  font-size: var(--fz-md);
  margin-bottom: 15px;
}
.experience .brands {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.experience .brands div {
  flex-basis: 50%;
  padding: 20px 20px;
  display: flex;
}
.experience .brands div img {
  width: 100%;
  height: auto;
}

@media (min-width: 414px) {
  .experience {
    padding: 0 15px 60px 15px;
  }
}

@media (min-width: 712px) {
  .experience {
    padding: 0 15px 75px 15px;
  }
  .experience h3 {
    margin-bottom: 30px;
  }
  .experience .brands div {
    padding: 40px 40px;
  }
}

@media (min-width: 768px) {
  .experience {
    padding: 0 15px 90px 15px;
  }
}

@media (min-width: 1024px) {
  .experience .brands div {
    flex-basis: 33.333333333%;
    padding: 20px 60px;
  }
}

@media (min-width: 1138px) {
  .experience .brands div:nth-of-type(4) {
    flex-basis: 25%;
  }
  .experience .brands div:nth-of-type(5) {
    flex-basis: 25%;
  }
  .experience .brands div:nth-of-type(6) {
    flex-basis: 25%;
  }
  .experience .brands div:nth-of-type(7) {
    flex-basis: 25%;
  }
}

/* CONTACT ============================== */
.contact {
  color: var(--moksi-orange-lt);
  background-color: var(--moksi-orange);
  padding: 30px 15px;
}
.contact h2 {
  font-size: var(--fz-lg);
  font-family: var(--vary-black);
  white-space: nowrap;
  margin-bottom: 30px;
}
.contact h2 span {
  display: block;
}
.contact h2 span:nth-child(3) {
  color: var(--moksi-blue);
}
.contact a {
  font-size: var(--fz-lg);
  font-family: var(--vary-light);
  color: var(--moksi-blue);
}
.contact .socials {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.contact .icon {
  width: 25px;
  height: 25px;
}
.contact .icon:nth-last-of-type(2) {
  margin: 0 15px;
}

@media (min-width: 414px) {
  .contact {
    padding: 60px 15px;
  }
  .contact .icon {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 712px) {
  .contact {
    padding: 75px 15px;
  }
  .contact .socials {
    margin-top: 45px;
  }
  .contact .icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .contact {
    padding: 90px 15px;
  }
}

@media (min-width: 1024px) {
  .contact .icon {
    width: 50px;
    height: 50px;
  }
}

/* FOOTER ============================== */
footer {
  background-color: var(--moksi-blue);
  color: var(--moksi-orange);
  padding: 15px;
  text-align: left;
}

footer .container {
  margin-left: auto;
  margin-right: auto;
}

footer .flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

footer .flex img {
  width: 25%;
}

footer .flex h2 {
  font-size: var(--fz-lg);
  font-family: var(--vary-black);
  white-space: nowrap;
}

footer span {
  font-size: var(--fz-sm);
  font-family: var(--vary-light);
}

@media (min-width: 712px) {
  footer .container {
    width: 600px;
  }
}

@media (min-width: 768px) {
  footer .container {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  footer .container {
    width: 900px;
  }
}
